@charset "UTF-8";
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { font: 62.5%/1 "微軟正黑體", Roboto, Arial, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; }

a { text-decoration: none; color: #000; }

img { width: 100%; }

p, li, a { font-size: 1.6rem; }

.container { width: 100%; max-width: 1200px; padding: 0 38px; margin: auto; }

#app { min-height: 100vh; }

.gg-search { -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; display: block; -webkit-transform: scale(var(--ggs, 1)); transform: scale(var(--ggs, 1)); width: 16px; height: 16px; border: 2px solid; border-radius: 100%; margin-left: -4px; margin-top: -4px; }

.gg-search::after { content: ""; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; border-radius: 3px; width: 2px; height: 8px; background: currentColor; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 10px; left: 12px; }

.gg-close-o { -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; display: block; -webkit-transform: scale(var(--ggs, 1)); transform: scale(var(--ggs, 1)); width: 22px; height: 22px; border: 2px solid; border-radius: 40px; }

.gg-close-o::after, .gg-close-o::before { content: ""; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; width: 12px; height: 2px; background: currentColor; -webkit-transform: rotate(45deg); transform: rotate(45deg); border-radius: 5px; top: 8px; left: 3px; }

.gg-close-o::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.gg-pin { -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; display: block; -webkit-transform: rotate(45deg) scale(var(--ggs, 1)); transform: rotate(45deg) scale(var(--ggs, 1)); width: 18px; height: 18px; border-radius: 100% 100% 0 100%; border: 2px solid; margin-top: -4px; }

.gg-pin::before { content: ""; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; width: 8px; height: 8px; border: 2px solid; top: 3px; left: 3px; border-radius: 40px; }

.gg-calendar-dates { -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; display: block; -webkit-transform: scale(var(--ggs, 1)); transform: scale(var(--ggs, 1)); width: 18px; height: 18px; border: 2px solid; border-radius: 3px; }

.gg-calendar-dates::after, .gg-calendar-dates::before { content: ""; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; border-radius: 3px; height: 2px; left: 2px; }

.gg-calendar-dates::before { background: currentColor; width: 2px; -webkit-box-shadow: 4px 0 0,8px 0 0,0 4px 0, 4px 4px 0,8px 4px 0; box-shadow: 4px 0 0,8px 0 0,0 4px 0, 4px 4px 0,8px 4px 0; top: 6px; }

.gg-calendar-dates::after { width: 10px; top: -4px; -webkit-box-shadow: 0 6px 0 0; box-shadow: 0 6px 0 0; }

#header { background-color: #7828b4; color: #f2f2f2; }

#header .logo { font-size: 3.6rem; }

#aside .item { background-color: #ebebeb; }
