<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <div id="app">
    <div class="container flex">
      <aside class="aside">
        <div class="timer_panel flex">
          <div class="item flex">
            <div class="box box_top"></div>
            <div class="box box_bottom"></div>
            <div class="circle circle_left"></div>
            <div class="circle circle_right"></div>
            <div class="num">00</div>
          </div>
          <div class="item flex">
            <div class="box box_top"></div>
            <div class="box box_bottom"></div>
            <div class="circle circle_left"></div>
            <div class="circle circle_right"></div>
            <div class="num">26</div>
          </div>
          <div class="item flex">
            <div class="box box_top"></div>
            <div class="box box_bottom"></div>
            <div class="circle circle_left"></div>
            <div class="circle circle_right"></div>
            <div class="num">40</div>
          </div>
        </div>
        <div class="add_panel">
          <div class="choose_time flex">
            <div class="choose_item">
              <input type="radio" id="m60" value="m60" v-model="setTime">
              <label for="m60">1小時</label>
            </div>
            <div class="choose_item">
              <input type="radio" id="m30" value="m30" v-model="setTime">
              <label for="m30">30分鐘</label>
            </div>
            <div class="choose_item">
              <input type="radio" id="m15" value="m15" v-model="setTime">
              <label for="m15">15分鐘</label>
            </div>
          </div>
          <input class="addinput" type="text" name="" id="" placeholder="請輸入代辦事項">
          <button class="submit">送出</button>
        </div>
      </aside>
      <div class="main">
        <div class="rwd_table">
          <table class="table" cellpadding="0">
            <thead>
              <tr>
                <th>執行狀態</th>
                <th>工作事項</th>
                <th>刪除任務</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p><i class="inline_block ib_icon gg-radio-check"></i> 未完成</p>
                  <p><i class="inline_block ib_icon gg-radio-checked"></i> 完成</p>
                  <p><i class="inline_block ib_icon gg-sand-clock"></i> 進行中</p>

                </td>
                <td>text</td>
                <td><i class="gg-trash"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'
    integrity='sha512-PyKhbAWS+VlTWXjk/36s5hJmUJBxcGY/1hlxg6woHD/EONP2fawZRKmvHdTGOWPKTqk3CPSUPh7+2boIBklbvw=='
    crossorigin='anonymous'></script>
  <script src="script/main.js"></script>
</body>

</html>