<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>









  <div class="choose_area">
    <div class="container">
      <label for="" class="search">
        <i class="zoom-in"></i>
        <input type="text" name="" id="">
      </label>
      <select v-model="nowClass">
        <option value="" disabled>請選擇洲別</option>
        <option value="all">全部</option>
        <option :value="item.class" v-for="item in datalist" :key="item.class">
          {{item.class}}
        </option>
      </select>
    </div>
  </div>

  <div class="list_area">
    <ul class="list">
      <li v-for="item in filterClass" :key="item.name">

        {{ $route.params.id }}
        <a :href=/into/${item.name}>

          {{item.name}}</a>
      </li>
    </ul>
  </div>























</body>

</html>