//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font: 62.5%/1 "微軟正黑體", Microsoft JhengHei, Arial, Helvetica, sans-serif;

  text-size-adjust: 100%;
}
a {
  color: #000;
  text-decoration: none;
}
#app {
  min-height: 100vh;
  background-color: #f2f2f2;
}
select,
input {
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #ccc;
}
p,
a,
li,
dd {
  font-size: 1.8rem;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
}
input,
option,
select {
  font-size: 1.6rem;
}
img {
  width: 100%;
}
//commom

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
}

//header
.header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  background-color: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .mode {
    display: flex;
    align-items: center;
    span {
      margin-left: 6px;
      font-size: 1.6rem;
    }
  }
  .moon {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
}
//icon
//https://css.gg/moon
.moon,
.moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
.moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}
.moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

//https://css.gg/sun
.sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 4px, transparent 0)
      no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px
      14px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px
      5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}
.sun::after,
.sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
.sun::before {
  transform: rotate(-45deg);
}
.sun::after {
  transform: rotate(45deg);
}
//https://css.gg/zoom-in
.zoom-in {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-top: -4px;
}
.zoom-in::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 8px;
  background: currentColor;
}
.zoom-in::after {
  transform: rotate(-45deg);
  border-radius: 3px;
  top: 10px;
  left: 12px;
}

//common
.backbtn {
  padding: 12px 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  }
}
//dark_mode
.dark_mode {
  &#app {
    background-color: #202d36;
  }
  .header {
    background-color: #2b3743;
  }
  a,
  p,
  .into_area .into .text h3 {
    color: #fff;
  }
  .backbtn,
  .into_area .into .text p:last-child span {
    background-color: #2b3743;
  }
  .list_area .list li .text,
  .list_area .list li .text p {
    color: #000;
  }
}

//choose_area
.choose_area {
  margin-top: 48px;
  @media (max-width: 480px) {
    margin-top: 32px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
    .search {
      position: relative;
      @media (max-width: 480px) {
        width: 100%;
      }
      .zoom-in {
        position: absolute;
        transform: translateY(-50%);
        top: 55%;
        left: 14px;
      }
      input {
        padding: 8px 12px 8px 40px;
        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
    select {
      @media (max-width: 480px) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
.list_area {
  .list {
    margin: 0 -38px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 991px) {
      margin: 0 -15px;
    }
    li {
      width: calc(33.3% - 76px);
      margin: 38px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
        img{
          opacity: 0.7;
        }
      }
      @media (max-width: 991px) {
        width: calc(33.3% - 30px);
        margin: 15px;
      }
      @media (max-width: 768px) {
        width: calc(50% - 30px);
      }
      @media (max-width: 480px) {
        width: calc(100% - 30px);
      }
      img {
        width: 100%;
        transition: opacity 0.3s;
      }
      .text {
        padding: 26px;
        h3 {
          margin-bottom: 24px;
        }
        p {
          + p {
            margin-top: 14px;
          }
        }
      }
    }
  }
}
.into_area {
  .into {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    > div {
      width: 50%;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .pic {
      margin-right: 120px;
      @media (max-width: 991px) {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
      }
      img {
        @media (max-width: 991px) {
          max-width: 300px;
        }
      }
    }
    .text {
      h3 {
        font-weight: 700;
        font-size: 2.4rem;
        margin-bottom: 44px;
        @media (max-width: 600px) {
          margin-bottom: 24px;
        }
      }
      p {
        float: left;
        width: 50%;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 20px;
        @media (max-width: 600px) {
          float: none;
          width: 100%;
        }
        &:last-child {
          width: 100%;
          margin-top: 78px;
          @media (max-width: 991px) {
            margin-top: 0;
          }
          span {
            display: inline-block;
            padding: 6px 18px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
            margin: 4px;
            font-size: 1.6rem;
          }
        }
        span {
          font-weight: 500;
        }
      }
    }
  }
  .backbtn {
    margin: 40px 0;
  }
}
